* {
    font-family: Roboto, "Montserrat", BlinkMacSystemFont, -apple-system,  "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.masthead {
    // height: 30vh;
    /* min-height: 500px; */
    // background-image: url('https://source.unsplash.com/wn-KYaHwcis/1148x750');
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url('https://source.unsplash.com/oMpAz-DN-9I');
    /* Replace code with unsplash ID */
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    // padding-top: 4rem;
    // padding-bottom: 5rem;   
}

.image-custom {
    max-height: 180px;
    border: 10px solid $color-gray;
    display: block;
    margin: auto;
}

.header-custom {
    padding: 1rem 0 3rem;
}

.nav-item {
    a {
        // color:;
        color: $color-dark!important;
    }
    a:hover {
        color: $color-dark!important;
        // font-size: 1.1rem;
        font-weight: bold;
    }
}

.active-nav-item {
    color: $color-dark!important;
    font-weight: bold;

}

// .navbar-nav > .active > a {
//     color: aqua;
//     background-color: chartreuse;    
// }

// .nav-item > a:hover {
//     color: aqua;
// }







/* Below not used */
.title-custom {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
}
.title-custom:hover {
    color: #919191;
    text-decoration: none;
}
.nav-list-custom {
    display: flex;
    list-style-type: none;
    margin: 0;
    color: blue;
}
.nav-item-custom {
    color: red;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}
.nav-item-custom:hover {
    color: green;
    text-decoration: none;
}
.active-nav-item-custom {
    color: red;
}