.home {
    width: 85%;
}

.section-index-title {
    p {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        font-weight: 100;
    }
}

.section-index-content {
    p {
        font-size: 0.8rem;
        letter-spacing: 0.03rem;
        line-height: 1.5rem;
        font-weight: 100;
    }
}