$color-dark: #2A2A2A;
$color-light: #555555;
$color-white: #FFFCFF;

.color-dark {
    color: $color-dark;
}
.color-light {
    color: $color-light;
}
.color-white {
    color: $color-white;
}

@import "./blog.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./layout.scss";
